nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
    background-color: rgb(240, 238, 238);
}
.logoContainer {
    width: 14%;
    display: flex;
    align-content: center;
    padding: 10px 2%;
    filter: invert(20%);
}

.linksContainer {
    display: flex;
    align-items: center;
}

.a {
    text-decoration: none;
    color: black;
    padding: 0 5%;
}

a:hover {
    color: rgb(73, 130, 236);
}

.searchContainer {
    margin: 0 6% 0 3%;
}
.search {
    width: 100%;
    padding: 0 15%;
    height: 3vh;
    font-size: 1rem;
    outline: none;
}
.rocket {
    position: absolute;
    top: 14px;
    left: 188px;
    font-size: .5rem;
    color: rgb(22, 24, 150);
}

.userAva {
    width: 2%;
    border-radius: 100%;
    position: absolute;
    right: 35px;
    border: rgb(212, 212, 212) 1px solid;
    cursor: pointer;
}

.userAva:hover {
    opacity: 70%;
}