
.footerContainer {
    padding: .7% .5%;
    background-color: rgba(223, 224, 224, 0);
    color: rgb(85, 84, 85);
    margin-top: 1%;
    font-size: .8rem;
}
.social {
    padding: 0 .5%;
    font-size: 1.4rem;
    color: rgb(78, 96, 119);
}
@media screen and (max-width: 500px){
    .social {
        font-size: 1.2rem;
        padding: 0 2%;
    }
}
.social:hover {
    color: red;
    cursor: pointer;
}

.ssC {
    padding-bottom: .6%;
}
@media screen and (max-width: 500px) {
    .ssC {
        padding-bottom: 2%;
    }
}
